<!-- <div>hello world</div>
<%= @string %> -->
<%= render partial: "header" %>
<div class="lol">
  steam redux:
</div><div class="lol">
  <img width="300px"src="https://i.imgur.com/8IHKHg3.gif" />
</div>

<div class="lol">
   a work in progress
</div>
