<%= render partial: "header" %>
<% if @exists %>
  <div class="user-all-container">
    <div class="user-container">
      <div class="user-text">
        this is <%= @user["personaname"] %>
      </div>
      <div class="user-image">
        <img src="<%= @user["avatarfull"] %>" />
      </div>
      <div class="user-profile">
        <a href="<%= @user["profileurl"] %>"> Click here to visit their steam profile </a>
      </div>
    </div>
  </div>
<% else %>
  <div class="center-text">
    No matches found.
  </div>
<% end %>
