hello world

<% SteamApp.search_for(params[:search]).each do |app| %>
<div>
  <%= app["name"]%>
</div>
<div>
  <%= button_to "Add to Favorites", action:"create", params: { user_id: current_user.id, name: app["name"] app: app["appid"]}, method: :post%>
</div>
<% end %>

<!-- <ul>
  <% @apps.each do |app| %>
    <li>
      <%= app["name"] %>
    </li>
  <% end %>
</ul> -->
