<%= render partial: "header" %>

<% SteamApp.search_for(params[:search]).each do |app| %>
<div class="result-container">
  <div class="result-name">
    <%= app["name"]%>
  </div>
  <div class="result-button">
    <%= button_to "Add to Favorites", action:"create", params: { user_id: current_user.id, name: app["name"], appid: app["appid"]}, method: :post%>
  </div>
</div>
<% end %>

<!-- <ul>
  <% @apps.each do |app| %>
    <li>
      <%= app["name"] %>
    </li>
  <% end %>
</ul> -->
