hello world

<% SteamApp.search_for(params[:search]).each do |app| %>
<div>
  <%= app["name"]%>
</div>
<div>
  <%= button_to "New", action:"new"%>
</div>
<% end %>

<!-- <ul>
  <% @apps.each do |app| %>
    <li>
      <%= app["name"] %>
    </li>
  <% end %>
</ul> -->
